html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body { 
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 10px 10px 0px 0px;
  width: 375px;
  background-color: #283e50;
  text-align: center;
  color: white;
  margin: 10px;
}

.image {
  border-radius: 10px 10px 0px 0px;
  width: 375px;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 25px;
  font-weight: 200;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px 25px 20px;
  padding-bottom: 20px;
}

.buttons {
  font-family: 'Montserrat', sans-serif;    
  font-size: 15px;
  line-height: 50px;
}

li {
  display: block;
}

a {
  text-decoration: none;
  display: block;
  color: white;
<<<<<<< HEAD
=======
  height: 100%;
>>>>>>> 4a50c6e94124f6298d3dbaaa81e85d9e63611bbe
}

.button--first {
  background-color:#1fcca4;
  height: 50px;
  border-bottom: solid 2px #283e50;
}

.button--second {
  background-color: #0197f6;
  height: 50px;
}

.button--first  a:hover {
  background-color:#1cbb96;
  height: 48px;
}

.button--second a:hover  {
  background-color: #0090e9;
}
<<<<<<< HEAD

=======
>>>>>>> 4a50c6e94124f6298d3dbaaa81e85d9e63611bbe
