html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* To have the gradient fill the viewport, give the <html> element a height of 100% */

html {
  height: 100%;
}


body {
  width: 100%;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
}

.page {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.panel {
  border-radius: 10px 10px 0px 0px;
  width: 375px;
  margin: 0;
  background-color: #283e50;
  text-align: center;
  color: white;
}

.image {
  border-radius: 10px 10px 0px 0px;
  width: 375px;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 25px;
  font-weight: 200;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px 25px 20px;
  padding-bottom: 20px;
}

.buttons {
  width: 375px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;    
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

li {
    display: block;
}

a {
  text-decoration: none;
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 15px;
  }

.button--first {
  background-color:#1fcca4;
  height: 50px;
  border-bottom: solid 2px #283e50;
}

.button--second {
  background-color: #0197f6;
  height: 50px;
}

.button--first  a:hover {
  background-color:#1cbb96; 
}

.button--second a:hover  {
  background-color: #0090e9;
}